    /* GENERAL */
    body {
        background-color: #F8F9Fa;
    }

    .wrapper {
        width: 100vw;
        height: calc(100vh - 4.5rem);
    }

    /* Nav */
    .site-logo-mobile {
        max-width: 28px;
    }

    .search-tab {
        height: 2.5rem;
    }

    .search-tab input {
        width: 70%;
    }

    #aside {
        width: 8.5rem;
        height: 100%;
        background-color: #051E34;
        background-image: url("../img/sidebar-bg.png");
    }

    main {
        width: calc(100% - 8.5rem);
        height: 100%;
    }

    /* Utility */
    .bl-bg-grey {
        background-color: #E5E5E5;
    }

    .bl-text-orange {
        color: var(--bs-orange);
    }

    .bl-bg-btn {
        background-color: #165BBA;
        color: white;
    }

    .bl-rounded {
        border-radius: 25px;
    }

    .bl-circle {
        border-radius: 50%;
    }

    .bl-bg-card-header {
        background-color: #F7F7F7;
    }

    .bl-table-light {
        background-color: white;
    }

    .bl-even {
        height: 3rem;
    }

    .square {
        width: 2rem;
        height: 2rem;
    }

    .position-center {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0.75rem;
        bottom: 1rem;
        left: 0;
        right: 0;
    }

    .img-container {
        max-width: 1.1rem;
    }

    .table-long-col {
        width: auto;
    }

    .table-short-col {
        width: 6rem;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }

        /* QUERY */
    @media screen and (max-width: 991.98px) {
        #aside {
            width: 4rem;
        }

        main {
            width: calc(100% - 4rem);
        }

        .offcanvas.offcanvas-end {
            width: 75%;
        }
    }

    @media screen and (max-width: 767.98px) {
        .offcanvas.offcanvas-end {
            width: 100%;
        }
    }