    /* GENERAL */
body {
    background-color: #F8F9Fa;
}

.wrapper {
    width: 100vw;
    height: calc(100vh - 4.5rem);
}

    /* Nav */
nav {
    height: 4.5rem;
}

.search-tab {
    height: 2.5rem;
}

.search-tab input {
    width: 70%;
}

#aside {
    width: 7rem;
    height: 100%;
}

main {
    width: calc(100% - 7rem);
    height: 100%;
}

    /* Utility */
.bl-bg-grey {
    background-color: #E5E5E5;
}

.bl-text-orange {
    color: var(--bs-orange);
}
